ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  text-align: center;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 576px) { 
  h1{
    font-size: 50px;
    padding-top: 5rem
  }
  
  /* h4{
    font-weight: lighter;
    font-size: 20px;
    padding-top: 2rem
  } */
}

@media (min-width: 1200px) {
  h1{
    font-size: 200px;
    padding-top: 12rem
  }
  
  /* h4{
    font-weight: lighter;
    font-size: 50px;
    padding-top: 12rem
  } */
}